﻿
@{
    ViewBag.Title = "Adicionar produtos";
}

<h2>Selecione o produto para adicionar:</h2>
<br>
<div id="Selecao">
    <select id="ProdutoSelecionado">
        @foreach (var item in ViewBag.ProdutosDisponiveis)
        {
            <option value="@item.Id">@item.Descricao</option>
        }
    </select>
    <br>
    Quantidade:
    <br>
    @Html.TextBox("Quantidade", null, new { @class = "form-control", type = "number", @min = "1" })
    <button type="button" id="Adicionar" onclick="AdicionarProduto(@ViewBag.IdVenda)">Adicionar</button>
</div>
<br>

<h2>Produtos do carrinho: </h2>
<table class="table" id="">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Valor Unitario")
        </th>
        <th>
            @Html.DisplayName("Quantidade")
        </th>
        <th>
            @Html.DisplayName("Total")
        </th>
        <th></th>
    </tr>

    @foreach (var ProdVenda in ViewBag.ProdutosDaVenda)
    {
        <tr>
            @foreach (var ProdDispon in ViewBag.ProdutosDisponiveis)
            {
                if (ProdVenda.IdProduto == ProdDispon.Id)
                {

                    <td>
                        @ProdDispon.Descricao
                    </td>
                    <td>
                        @ProdDispon.Valor
                    </td>
                    <td>
                        @ProdVenda.QuantidadeProduto
                    </td>
                    <td>
                        @(ProdVenda.QuantidadeProduto * ProdDispon.Valor)
                    </td>
                }

            }
        </tr>
    }
    <tr>
        <td></td>
        <td></td>
        <th>Total</th>
        <td>@ViewBag.ValorTotal</td>
    </tr>


</table>
<input type="submit" value="Finalizar" class="form-control"
       onclick="window.location='/Venda/lista';" />

<script type="text/javascript">


    function AdicionarProduto(idVenda) {
        var dataObj = JSON.stringify(
            {
                produtoVenda: {
                    Id: null,
                    IdVenda: idVenda,
                    IdProduto: parseInt($('#ProdutoSelecionado').val().trim()),
                    QuantidadeProduto: parseInt($('#Quantidade').val().trim()),
                }
            });

        $.ajax({
            type: "POST",
            url: "/vendaprodutos/AdicionarProdutos",
            contentType: "application/json",
            data: dataObj,
            success: function () {
                window.location.reload();
            }
        });
    }

</script>

