﻿@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <p><a href="/Produto/lista" class="btn btn-primary btn-lg">Produtos</a></p>
    <p><a href="/Venda/lista" class="btn btn-primary btn-lg">Vendas</a></p>
</div>
