﻿@model IEnumerable<SondaIT.Models.Venda>

@{
    ViewBag.Title = "Vendas realizadas";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Nova venda", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Id da venda")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
        </tr>
    }

</table>
