﻿@model IEnumerable<SondaIT.Models.Produto>

@{
    ViewBag.Title = "Lista de produtos";
}

<h2>Lista de Produtos: </h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
           @item.GetDescricaoAtivo()
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |

            @Html.ActionLink("Inativar", "Inactive", new { id = item.Id })
        </td>
    </tr>
}

</table>
